## SPDX-License-Identifier: GPL-2.0-only

config SOC_IBM_POWER8
	bool
	default n
	select ARCH_PPC64
	select ARCH_BOOTBLOCK_PPC64
	select ARCH_VERSTAGE_PPC64
	select ARCH_ROMSTAGE_PPC64
	select ARCH_RAMSTAGE_PPC64
	select NO_MONOTONIC_TIMER

if SOC_IBM_POWER8

config MEMLAYOUT_LD_FILE
	string
	default "src/soc/ibm/power8/memlayout.ld"

config PPC64_ARCH
	string
	default "power8"

endif # SOC_IBM_POWER8
