config ARCH_PPC64
	bool

if ARCH_PPC64
config PPC64_ARCH
	string

endif # ARCH_PPC64

config ARCH_BOOTBLOCK_PPC64
	bool
	select ARCH_PPC64
	select BOOTBLOCK_CUSTOM

config ARCH_VERSTAGE_PPC64
	bool
	select ARCH_PPC64

config ARCH_ROMSTAGE_PPC64
	bool
	select ARCH_PPC64

config ARCH_RAMSTAGE_PPC64
	bool
	select ARCH_PPC64

config PPC64_USE_ARCH_TIMER
	bool
	default n

