config BOARD_RAPTORCS_TALOSII_COMMON
	def_bool n

if BOARD_RAPTORCS_TALOSII_COMMON

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_65536
	select SOC_IBM_NIMBUS
	select MISSING_BOARD_RESET
	select BOOT_DEVICE_MEMORY_MAPPED
	select BOOT_DEVICE_SPI_FLASH
	# select BOOT_DEVICE_NOT_SPI_FLASH

config MAINBOARD_DIR
	string
	default "rcs/talosii"

config MAINBOARD_VENDOR
	string
	default "Raptor Computing Systems"

config MAINBOARD_PART_NUMBER
	string
	default "Talos II"

endif # BOARD_RAPTORCS_TALOSII_COMMON
