if BOARD_ASROCK_X370KILLERSLI

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	# select SOC_AMD_COMMON_BLOCK_USE_ESPI
	select SOC_AMD_PICASSO
	select HAVE_ACPI_RESUME
	select SUPERIO_NUVOTON_COMMON_COM_A
	select SUPERIO_NUVOTON_NCT6779D

config FMDFILE
	default "src/mainboard/asrock/x370killersli/board.fmd"

config MAINBOARD_DIR
	default "asrock/x370killersli"

config MAINBOARD_PART_NUMBER
	default "X370 Killer Sli"

config ONBOARD_VGA_IS_PRIMARY
	bool
	default y

config VGA_BIOS
	default y if USE_AMD_BLOBS

# config AMDFW_CONFIG_FILE
# 	string
# 	default "3rdparty/blobs/mainboard/asrock/x370killersli/fw.cfg"

endif
